body {
  font-family: Arial, sans-serif;
  margin: 30px;
}

h1 {
  margin-bottom: 25px;
}

#resumo {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

#busca {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}
